//styles

@import "variables.less";
@import "mixins.less";

//global styles

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	// font-family: ;
	// font-size: ;
	// line-height: ;
	// color: @text-color;
	// background-color: @body-bg;
}

.contain {
	width: 1170px;
	margin: 0 auto;
}