*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Open Sans", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  color: #062033;
}
h1,
h2,
h5 {
  margin: 0;
}
h1 {
  font-size: 62px;
  font-weight: 300;
  line-height: 1.13;
}
h2 {
  font-size: 47px;
  font-weight: 300;
}
h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  color: #0eb493;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #062033;
  text-align: center;
  letter-spacing: -0.02em;
}
h5 {
  font-size: 18px;
  font-weight: 300;
  color: #062033;
  text-align: center;
}
a {
  text-decoration: none;
}
.contain {
  width: 73.125%;
  margin: 0 auto;
}
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: ".";
}
nav {
  position: absolute;
  width: 100%;
  height: 70px;
  color: #ffffff;
  letter-spacing: 0.05em;
  background-color: rgba(16, 22, 54, 0.2);
}
nav p {
  float: left;
  padding-top: 18px;
  font-weight: 300;
  opacity: 0.3;
}
nav a {
  color: #ffffff;
}
nav li {
  display: inline-block;
  padding: 30px 16px 0 16px;
}
nav li:hover {
  padding-top: 28px;
  border-top: 2px solid #32b0ee;
}
nav #menu {
  display: inline;
  float: right;
  margin: 0;
  list-style-type: none;
}
#logo {
  display: block;
  float: left;
  padding-top: 14px;
  font-family: "Pacifico";
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0.05em;
}
#divider {
  float: left;
  width: 1px;
  height: 17px;
  margin-right: 21px;
  margin-left: 27px;
  background-color: #32b0ee;
}
header {
  height: 61.538em;
  padding-top: 28.154em;
  color: #ffffff;
  text-align: center;
  background-image: url(../images/header.png);
  background-size: cover;
}
header .pagination {
  float: right;
  margin-right: 5%;
}
header .pagination .circle {
  width: 8px;
  height: 8px;
  margin: 7px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.2;
  display: block;
  border: 1px solid #ffffff;
}
header .pagination .circle:first-child,
header .pagination .circle:hover {
  background-color: #ffffff;
  opacity: 1;
}
header .contain {
  clear: both;
}
header h5 {
  display: inline-block;
  margin: 13px 16px;
  font-size: 18px;
  color: #ffffff;
}
#highlight-text {
  color: #0eb493;
}
.header-lines {
  display: inline-block;
  width: 28px;
  height: 1px;
  margin-right: 16px;
  margin-left: 16px;
  color: #0eb493;
  background-color: #0eb493;
  border: none;
}
.social-links {
  margin-top: 8.692em;
}
.social-links img {
  margin-left: 12px;
  opacity: 0.3;
}
.social-links img:hover {
  cursor: pointer;
  opacity: 1;
}
#features {
  padding: 3.769em 0;
  background-color: #f4f7f9;
}
#features img {
  display: inline-block;
  width: 40px;
  margin-right: 15px;
  vertical-align: top;
}
#features .pagination {
  margin-top: 5.000em;
  text-align: center;
}
#features .circle {
  width: 8px;
  height: 8px;
  margin: 7px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
  border: 1px solid #062033;
}
#features .circle:first-child,
#features .circle:hover {
  background-color: #062033;
  opacity: 1;
}
.shapes {
  display: block;
  text-align: center;
}
.main-lines {
  display: inline-block;
  width: 90px;
  height: 1px;
  background-color: #062033;
  border: none;
  opacity: 0.1;
}
.fa-heart-o {
  display: inline-block;
  width: 20px;
  margin: auto 10px;
  opacity: 0.2;
  text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}
.feature-column {
  float: left;
  width: 33.3%;
  margin-top: 5.000em;
}
.feature-column span {
  width: 15.52%;
}
.feature-column article {
  display: inline-block;
  width: 75.6%;
  font-size: 13px;
  word-break: break-all;
}
.feature-column article h4 {
  text-align: left;
}
.feature-column article p {
  opacity: 0.7;
}
#works {
  padding: 3.769em 0 0 0;
  overflow: hidden;
}
.subheading {
  width: 81%;
  margin: 1.4em auto 0 auto;
  font-weight: 600;
  opacity: 0.8;
}
#categories {
  padding: 0;
  margin: 3.769em 3% 2.846em 0;
  text-align: center;
  list-style: none;
}
#categories a {
  padding: 9px 21px;
  font-size: 14px;
  font-weight: 700;
  color: #062033;
}
#categories a:hover {
  color: #ffffff;
  background: #0eb493;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
}
#work-gallery {
  float: left;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}
#work-gallery li {
  position: relative;
  display: block;
  float: left;
  width: 25%;
}
#work-gallery li a {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  padding: 25% 10%;
  color: #ffffff;
  text-align: center;
  background: rgba(14, 180, 147, 0.9);
  opacity: 0;
}
#work-gallery li a:hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
#work-gallery li a img {
  display: block;
  width: 3.077em;
  margin: 0 auto;
}
#work-gallery li a h5 {
  margin: 1.4em auto 0 auto;
  font-weight: 600;
  color: #ffffff;
}
#work-gallery li a p {
  font-size: 14px;
}
#work-gallery .work-tile {
  float: left;
  width: 100%;
}
#work-gallery .work-tile:hover {
  z-index: 3;
  cursor: pointer;
  background-color: #0eb493;
}
#team {
  float: left;
  width: 100%;
  padding: 45px 0;
}
#team .pagination {
  margin-top: 5.000em;
  text-align: center;
}
#team .circle {
  width: 8px;
  height: 8px;
  margin: 7px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
  border: 1px solid #062033;
}
#team .circle:first-child,
#team .circle:hover {
  background-color: #062033;
  opacity: 1;
}
.team-column {
  position: relative;
  display: inline-block;
  float: left;
  width: 23.16%;
  margin: 7.7em 0 0 2.45%;
  text-align: center;
}
.team-column a {
  float: left;
  width: 100%;
}
.team-column a:hover > h5 {
  color: #0eb493;
}
.team-column img {
  float: left;
  width: 100%;
}
.team-column h5 {
  margin-top: 1.2em;
  color: #062033;
  font-weight: 400;
}
.team-photo {
  position: relative;
  display: block;
  float: left;
  width: 100%%;
}
.team-photo:hover > .team-hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.team-photo .team-hover {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10% 5%;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background: rgba(14, 180, 147, 0.9);
  opacity: 0;
}
.team-photo .team-hover strong,
.team-photo .team-hover span {
  display: block;
  margin-bottom: 1em;
}
.team-photo .team-hover .team-soc-link {
  position: absolute;
  right: 0;
  bottom: 1.769em;
  left: 0;
  margin: 0 auto;
}
.team-photo .team-hover img {
  float: none;
  width: 3.231em;
  margin-right: 0.5em;
}
.team-first {
  margin-left: 0;
}
#facts {
  float: left;
  width: 100%;
  height: 46.154em;
  padding: 4.231em 0;
  background: url(../images/funfacts_rectangle.png) no-repeat;
  background-size: cover;
}
#facts .main-lines {
  background-color: #ffffff;
  opacity: 0.5;
}
#facts .fa-heart-o {
  color: #ffffff;
  opacity: 1;
}
.facts-column {
  float: left;
  width: 25%;
  margin-top: 1.77em;
  text-align: center;
}
.facts-column img {
  width: 43%;
}
.facts-column h2 {
  margin-top: 0.5em;
  font-size: 4.615em;
  font-weight: 500;
  color: #ffffff;
}
.facts-column h5 {
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
#contact {
  float: left;
  width: 100%;
  padding: 4.231em 0 5.5em 0;
}
#contact-header {
  float: left;
  width: 100%;
  margin-top: 6.538em;
}
#location {
  float: left;
  width: 25.65%;
  padding-right: 4.231em;
  line-height: 1.846em;
  color: #6a737b;
}
#location h4 {
  margin-bottom: 1.818em;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.455em;
  text-align: left;
}
.form {
  float: left;
  width: 68.37%;
  padding-right: 30px;
  text-align: center;
}
.form h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  color: #062033;
  text-align: left;
  text-transform: none;
}
.form input[type="text"] {
  float: left;
  padding: 1.154em 0px;
  margin-top: 1.2em;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
}
.form input[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s 0.2s ease;
}
.form input[placeholder]:focus::-moz-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s 0.2s ease;
}
.form #form-name {
  width: 48.18%;
  margin-right: 3.89%;
}
.form #form-email {
  width: 47.92%;
}
.form #form-message {
  margin-top: 2.308em;
  width: 100%;
}
.form a {
  float: right;
  padding-left: 2em;
  margin-top: 2.313em;
  font-size: 16px;
  color: #000000;
  background: url(../images/envelope.png) no-repeat;
  background-position: 0 50%;
}
.form a img {
  padding: 0 12px;
  line-height: 1em;
}
.form a:hover {
  color: #808080;
}
#soc-links {
  float: left;
  width: 5.98%;
}
#soc-links img {
  display: block;
  margin: 0 auto 1.923em 0;
  opacity: 0.2;
}
#soc-links img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
#map {
  float: left;
  width: 100%;
  height: 16.538em;
  background: url(../images/map.png) no-repeat;
  background-size: cover;
}
footer {
  float: left;
  width: 100%;
  padding: 5.000em 0 7.000em 0;
  color: #ffffff;
  background-color: #21b697;
  border-top: 5px solid #062033;
}
.footer-description {
  float: left;
  width: 25.64%;
  padding-right: 3.84%;
}
.footer-description h3 {
  font-family: "Pacifico";
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
.footer-description p {
  line-height: 1.846em;
}
.footer-subscription {
  float: left;
  width: 25.72%;
  padding-right: 2.56%;
}
.footer-subscription h6 {
  margin: 3em 0;
  font-size: 14px;
}
.footer-subscription input[type="email"] {
  width: 100%;
  padding: 9px;
  background: none;
  border: 2px solid #ffffff;
  outline: none;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.footer-subscription p {
  line-height: 1.846em;
}
.footer-links {
  float: left;
  width: 25.55%;
}
.footer-links h6 {
  margin: 3em 0 1.35em 0;
  font-size: 14px;
  font-weight: 600;
}
.footer-links ul {
  float: left;
  width: 48%;
  padding-left: 4px;
  line-height: 32px;
  list-style-type: none;
}
.footer-links a {
  color: #ffffff;
}
.footer-rights {
  float: left;
  width: 23.07%;
  padding: 7.846em 3.84% 0 0;
}
.footer-rights p {
  padding-left: 15px;
  line-height: 1.846em;
  border-left: 1px solid rgba(6, 32, 51, 0.3);
}
.footer-rights .fa-heart-o {
  margin: 0 3px;
  color: #000000;
  opacity: 0.3;
}
.footer-rights a {
  color: #062033;
}
.footer-rights #copyright {
  margin-top: 3.846em;
  color: #062033;
  border: none;
}
