// ========== import less files ==========

@import "variables.less";
@import "mixins.less";

// ========== global styles ==========

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	width: @total-width;
	font-family: @main-font;
	font-size: @font-size-base;
	color: @text-color;

}

h1, h2, h5 {
	margin: 0;
}

h1 {
	font-size: @font-size-h1;
	font-weight: 300;
	line-height: 1.13;
}

h2 {
	font-size: @font-size-h2;
	font-weight: 300;

}

h3 {
	font-size: @font-size-h3;
	font-weight: 800;
	color: @brand-color;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -0.02em;
	margin-bottom: 20px;
}

h4 {
	margin: 0;
	font-size: @font-size-h4;
	color: @text-color;
	font-weight: 600;
	letter-spacing: -0.02em;
}

h5 {
	font-size: @font-size-h5;
	font-weight: 300;
}

a {
	text-decoration: none;
}



.contain {
	width: 	@container-width;
	margin: 0 auto;
}

// ========== navigation ==========

nav {
	height: 70px;
	position: absolute;
	width: 	@total-width;
	color: @bar-font-color;
	background-color: @bar-color;
	letter-spacing: 0.05em;
 

	p {
		float: left;
		// margin-left: 14px;
		opacity: 0.3;
		font-weight: 300;
		padding-top: 18px;
	}

	h3, p, li {
		// display: inline-block;
	}
	a {
		color: @bar-font-color;
	}

	li {
		display: inline-block;
		padding: 30px 16px 0 16px;

		&:hover {
			border-top: 2px solid @cyan; 
			padding-top: 28px;
		}
	}

	#menu {
		margin: 0;
		display: inline;
		float: right;
		list-style-type: none;
		

	}
}

#logo {
	display: block;
	padding-top: 14px;
	float: left;
	font-family: @logo-font;
	font-size: @logo-font-size;
	letter-spacing: 0.05em;
	color: @bar-font-color;
}

#divider {
	margin-right: 21px;
	margin-left: 27px;
	width: 1px;
  	background-color: @cyan;
  	height: 17px; 
  	float: left; 

}

// ========== header ==========

header {
	padding-top: 398px;
	height: 800px;
	background-image: url(../images/header.png);
	background-size: cover;
	color: @bar-font-color;
	text-align: center;
	h5 {
		display: inline-block;
		margin: 13px 16px;
		font-size: 18px;
	}

	.pagination {
		float: right;
		margin-right: 5%;
		.circle {
			.circle();
			border: 1px solid @bar-font-color;
			display: block;

			&:first-child,
			&:hover {
				background-color: @bar-font-color;
				opacity: 1;
			}
		}
	}

	.contain {
		clear: both;
	}
}

#highlight-text {
	color: @brand-color;
}

.header-lines {
	margin-left: 16px;
	margin-right: 16px;
	display: inline-block;
	height: 1px;
	width: 28px;
	border: none;
	color: @brand-color;
	background-color: @brand-color;
}

.social-links {
	margin-top: 9.8vh;
	img {
		margin-left: 12px;
		opacity: 0.3;

		&:hover {
		opacity: 1;
		}
	}	
}

// ========== features ==========

#features {
	padding: 49px 0;
	background-color: @bg-color;

	 

	 img {
	 	width: 40px;
	 	display: inline-block;
	 	margin-right: 15px;
	 	vertical-align: top;
	 }
	
	article {
		display: inline-block;
		width: 83.9%;
		font-size: @font-size-base;
		p {
			opacity: 0.7;
		}
	}

	.pagination {
		margin-top: 65px;
		text-align: center;

		.circle {
			.circle();

			display: inline-block;
			border: 1px solid @text-color;

			&:first-child,
			&:hover {
				background-color: @text-color;
				opacity: 1;
			}
		}
	}

}

.feature-column {
	margin-top: 65px;
	width: 33%;
	display: inline-block;
	font-size: 0;
}

.shapes {
	display: block;
	text-align: center;
}
 
.fa-heart-o {
	width: 20px;
	display: inline-block;
	-webkit-text-stroke-width: 1px;
	-moz-text-stroke-width: 1px;
	text-stroke-width: 1px;
	opacity: 0.2;
	margin: auto 10px;
}

.main-lines {
	display: inline-block;
	width: 90px;
	height: 1px;
	background-color: @text-color;
	border: none;
	opacity: 0.1;
}

// .pagination {
// 	text-align: center;
// 	margin-top: 55px;
// }






