// ------------- import less files ------------- 

@import "variables.less";

// ------------- section -------------
.section() {
	float: left;
	width: 100%;
}

// ------------- pagination circles -------------
.circle() {
	width: 8px;
	height: 8px;
	margin: 7px;
	cursor: pointer;
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.2;
}

// ------------- pagination on the page -------------
.pagination() {
	margin-top: 5.000em;
	text-align: center;
}

// ------------- opacity hover effect -------------
.opacity() {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}