// Grid settings
// --------------------------------------------------
@total-width: 100%;
@container-width: 73.125%; // 1170px;

// Variables
//
// ================= Colors =================

@white: 						#fff;
@dark: 							#062033;
@neutral: 						#f4f7f9;
@cyan:							#32b0ee;
@green:  						#0feb9e;
@mint: 							#0eb493;
@grey: 							#dce1e5;
@blue-dark:  					#062033;
@sea-green:                     #21b697;
@midnight-blue:        			rgba(16, 22, 54, 0.2);

//global 
@brand-color: 					@mint;
@bg-color:  					@neutral;
@text-color:            		@dark;
@bar-font-color: 				@white;
@bar-color:  					@midnight-blue;






// ================= Typography =================

@logo-font: 					"Pacifico";
@sans-serif: 					"Open Sans", "Arial","Helvetica Neue", Helvetica , sans-serif;

@main-font: 					@sans-serif;

@font-size-base:         		13px;
@logo-font-size: 				ceil((@font-size-base * 2.15)); // ~28px
@font-size-h1:           		floor((@font-size-base * 4.77)); // ~62px
@font-size-h2:           		floor((@font-size-base * 3.69)); // ~48px
@font-size-h3:           		ceil((@font-size-base * 2.15)); // ~28px
@font-size-h4:           		floor((@font-size-base * 1.54)); // ~20px
@font-size-h5:           		ceil((@font-size-base * 1.38)); // ~18px
