// Grid settings
// --------------------------------------------------
@total-width: 100%;
@container-width: 1170px; //remake into %

// Variables
//
// ================= Colors =================
@white: 				#fff;
@dark: 					#062033;
@neutral: 				#f4f7f9;
@cyan:					#32b0ee;
@green:  				#0feb9e;
@mint: 					#0eb493;
@grey: 					#dce1e5;
@blue-dark:  			#062033;
@midnight-blue:         rgba(16, 22, 54, 0.2);

//global 
@brand-color: 				@mint;
@text-color:            	@dark;
@bar-font-color: 			@white;
@bar-color:  				@midnight-blue;






// ================= Typography =================

@font-family-sans-serif: "OpenSans", "Arial","Helvetica Neue", Helvetica , sans-serif;
@font-family-light: "OpenSans light", Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
@font-family-bold: "OpenSans Bold", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
@font-family-Extrabold: "OpenSans Extrabold", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
@font-family-Semibold: "OpenSans Semibold", "Futura" , "Trebuchet MS", Arial, sans-serif;
@logo-font: "Pacifico";

// @main-font: 			
@font-family-sans-serif;
@font-size-base: 13px;
@font-size-large: ceil((@font-size-base * 4.76)); // ~62px
@font-size-medium: ceil((@font-size-base * 3.69)); // ~48px
@font-size-small: ceil((@font-size-base * 1.38)); // ~18px
@font-size-h1: floor((@font-size-base * 2.15)); // ~28px
@font-size-h2: floor((@font-size-base * 1.84)); //~24px
@font-size-h3: ceil((@font-size-base * 1.53)); // ~20px
@font-size-h4: ceil((@font-size-base * 1.07)); // ~14px;
@font-size-number: ceil((@font-size-base * 4.61)); // ~60px
@headings-font-family: @font-family-all-caps;
@subheading-font-family: @font-family-light;


