@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4% 0 4%;
}
html {
  box-sizing: border-box;
  color: #062033;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 100%;
}
h1 {
  font-family: OpenSans-Light;
}
h2 {
  font-family: OpenSans-ExtraBold;
  font-size: 28px;
  color: #0eb493;
  margin-bottom: 25px;
}
h3 {
  font-family: OpenSans-SemiBold;
}
h4 {
  font-family: Pacifico;
  font-size: 28px;
  color: #fff;
}
h5 {
  font-family: opensans-Bold;
}
h6 {
  font-family: OpenSans-Light;
  font-size: 13px;
}
p {
  font-family: OpenSans-Regular;
  font-size: 13px;
  line-height: 25px;
  color: rgba(6, 32, 51, 0.8);
}
a {
  text-decoration: none;
  color: #062033;
}
li {
  font-size: 13px;
  display: inline;
}
.heart {
  color: rgba(6, 32, 51, 0.2);
  overflow: hidden;
}
.heart:before,
.heart:after {
  background-color: rgba(6, 32, 51, 0.1);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 90px;
}
.heart:before {
  right: 15px;
  margin-left: -50%;
}
.heart:after {
  left: 15px;
  margin-right: -50%;
}
section:hover .heart,
#funfacts:hover .heart {
  color: #ff69b4;
  transition: color 0.5s ease-in-out;
}
.circle:hover .fa-circle-o:before {
  content: "\f111";
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.sliderVertical {
  margin-top: 300px;
  text-align: right;
  margin-right: 47px;
}
.sliderVertical li {
  display: block;
  margin-bottom: 15px;
}
.sliderVertical .fa-circle-o {
  color: rgba(255, 255, 255, 0.2);
}
.sliderHorizontal {
  text-align: center;
}
.sliderHorizontal li {
  display: inline-block;
  margin-right: 15px;
}
.sliderHorizontal .fa-circle-o {
  color: rgba(0, 0, 0, 0.2);
}
.sliderHorizontal .circle:hover .fa-circle-o:before {
  color: #000;
}
.title {
  text-align: center;
  padding: 80px 0 40px 0;
}
.title h3 {
  font-size: 18px;
  color: rgba(6, 32, 51, 0.8);
  margin: 40px 0 65px 0;
}
header {
  background-image: url('../images/hero_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  color: #fff;
}
#section1 {
  background: rgba(16, 22, 54, 0.2);
}
#logo {
  padding: 20px 0;
  display: inline;
  float: left;
  width: 55.833333333333336%;
  margin: 0 1.25%;
}
#logo h4 {
  float: left;
}
#logo h6 {
  float: left;
  color: rgba(255, 255, 255, 0.3);
  margin: 10px 0 0 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(50, 176, 238, 0.3);
}
nav {
  padding-top: 28px;
}
nav .fa-bars {
  display: none;
}
ul.dropdown {
  display: block;
  display: inline;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
ul.dropdown a {
  font-family: OpenSans-Regular;
  font-size: 13px;
  display: inline;
  margin-left: 20px;
  color: #fff;
}
ul.dropdown a:hover {
  padding-top: 25px;
  border-top: 1px solid #32b0ee;
  transition: border-top 0.5s ease-in-out;
}
.span1 {
  font-family: opensans-Bold;
}
.span2 {
  color: #0feb9e;
}
#infoGraphic {
  text-align: center;
}
#infoGraphic h1,
#infoGraphic h5 {
  font-size: 62px;
}
#infoGraphic h1:nth-child(2) {
  margin-bottom: 30px;
}
#infoGraphic h6 {
  font-size: 18px;
  overflow: hidden;
}
#infoGraphic h6:before,
#infoGraphic h6:after {
  background-color: #0feb9e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 28px;
}
#infoGraphic h6:before {
  right: 35px;
  margin-left: -50%;
}
#infoGraphic h6:after {
  left: 35px;
  margin-right: -50%;
}
#socialMedia {
  margin-top: 40px;
  text-align: center;
}
#socialMedia li {
  padding-right: 20px;
  font-size: 18px;
}
#socialMedia li i {
  color: rgba(255, 255, 255, 0.3);
}
#socialMedia li i:hover {
  color: #fff;
  transition: color 0.5s ease-in-out;
}
#features {
  background: #f4f7f9;
}
#features .sliderHorizontal {
  margin-bottom: 70px;
}
#features h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.featuresGrid3 {
  display: inline;
  float: left;
  width: 30.833333333333336%;
  margin: 0 1.25%;
  margin-bottom: 80px;
}
.featuresGrid3 .info {
  display: inline;
  float: left;
  width: 72.5%;
  margin: 0 1.25%;
}
.featuresGrid3 .features-icons {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
  width: 40px;
  height: 40px;
}
.sub-nav {
  text-align: center;
  padding-left: 50px;
  margin-bottom: 45px;
}
.sub-nav li {
  padding-right: 50px;
}
.sub-nav a {
  font-family: opensans-Bold;
  font-size: 14px;
  color: #062033;
  text-decoration: none;
}
.sub-nav a:hover {
  color: #fff;
  background: #0eb493;
  border: solid #0eb493;
  border-radius: 5px;
  border-width: 10px 21px 10px 21px;
  transition: color 0.5s ease-in-out, border 0.2s ease-in-out;
}
.work-images {
  margin: 0;
  padding: 0;
}
.work-images li {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 1.25%;
  line-height: 0;
  margin: 0;
  padding: 0;
}
#team .sliderHorizontal {
  padding: 90px 0 120px 0;
}
.profiles {
  text-align: center;
}
.profiles li {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
.profiles2 {
  text-align: center;
}
.profiles2 li {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
.profiles2 h3 {
  font-size: 18px;
  color: #062033;
  margin: 15px 0 10px 0;
  color: #000;
}
.profiles2 img {
  display: none;
}
.relative {
  position: relative;
}
.effect .mask {
  opacity: 0;
  overflow: visible;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 180, 147, 0.95);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  text-align: center;
  color: #fff;
  padding: 4%;
}
.effect .mask h5 {
  font-size: 16px;
  display: inline;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
}
.effect .mask p {
  font-size: 16px;
  display: inline;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
}
.effect .mask ul {
  padding-top: 90%;
  padding-left: 20%;
}
.effect .mask a {
  display: inline;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
}
.effect .mask .eye img {
  width: 42px;
  height: 42px;
  margin: 30px 0 10px 0;
}
.effect .mask .eye h5 {
  line-height: 15px;
  margin-bottom: 5px;
}
.effect a.info {
  opacity: 0;
}
.effect:hover .mask {
  opacity: 1;
}
.effect:hover a.info {
  opacity: 1;
  transition-delay: 0.5s;
}
#funfacts {
  background: url(../images/funfacts-background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  color: #fff;
}
#funfacts .heart {
  color: #fff;
}
#funfacts .heart:before,
#funfacts .heart:after {
  background-color: rgba(255, 255, 255, 0.5);
}
#funfacts li {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
  margin-bottom: 160px;
}
#funfacts h3 {
  font-size: 60px;
  margin: 50px 0 8px 0;
}
#funfacts p {
  font-size: 18px;
  color: #fff;
}
#funfacts img {
  width: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
#funfacts img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.form-info {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
.form-info p:first-child {
  font-size: 22px;
  margin-bottom: 45px;
}
.form-info a {
  color: rgba(6, 32, 51, 0.8);
}
.form-info a:hover {
  color: #0eb493;
  transition: color 0.5s ease-in-out;
}
.form-icons {
  display: inline;
  float: left;
  width: 1.6666666666666667%;
  margin: 0 1.25%;
}
.form-icons i {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 26px;
}
.form-icons i:hover {
  color: #000000;
  transition: color 0.5s ease-in-out;
}
#contact-form {
  display: inline;
  float: left;
  width: 68.33333333333333%;
  margin: 0 1.25%;
  font-family: OpenSans-Regular;
}
#contact-form h5 {
  margin-bottom: 56px;
  font-size: 24px;
}
.info-input {
  display: inline;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  margin: 0;
}
.info-input input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 42px;
  width: 90%;
}
.input-email input {
  width: 100%;
}
label,
input {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.2);
}
.info-input-textarea textarea {
  display: inline;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  resize: none;
  overflow: auto;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
input,
textarea {
  border: none;
  background: none;
}
input:hover,
textarea:hover {
  border-bottom: 1px solid #000000;
  transition: border-bottom 0.5s ease-in-out;
}
.hidden {
  display: inline;
  float: left;
  width: 68.33333333333333%;
  margin: 0 1.25%;
}
.hidden p {
  color: #fff;
}
.submit {
  display: inline;
  float: left;
  width: 26.666666666666668%;
  margin: 0 1.25%;
  padding: 38px 0;
}
.submit i {
  font-size: 23px;
  color: #0eb493;
}
.submitBtn {
  font-size: 16px;
  color: #062033;
  font-family: OpenSans-Regular;
}
.map {
  margin-top: 110px;
  width: 100%;
}
footer {
  height: 405px;
  background: #0eb493;
}
footer h5,
footer p {
  color: #fff;
}
footer h4 {
  margin-bottom: 38px;
}
footer h5 {
  font-size: 14px;
  margin-bottom: 45px;
}
.span3 {
  color: rgba(8, 47, 59, 0.3);
  padding: 0 10px 0 10px;
}
.span4 {
  color: #082f3b;
}
.footer1 {
  display: inline;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
.footer1 input {
  width: 232px;
  height: 40px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  margin-bottom: 30px;
}
.footer-info {
  margin-top: 100px;
}
.subscribe,
.explore {
  margin-top: 110px;
}
.explore h5 {
  margin-bottom: 32px;
}
.explore li {
  display: block;
}
.explore .innerGrid {
  display: inline;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
}
.explore .innerGrid li {
  line-height: 35px;
}
.explore .innerGrid li a {
  color: white;
}
.explore .innerGrid li a:hover {
  color: #000000;
  transition: color 0.5s ease-in-out;
}
.copyright {
  margin-top: 150px;
}
.copyright p {
  padding-left: 20px;
}
.copyright #partBorder {
  border-left: 1px solid #177e72;
  border-height: 40px;
}
.copyright .copyright-info {
  margin-top: 65px;
}
@media (max-width: 1200px) {
  #logo {
    display: inline;
    float: left;
    width: 55.833333333333336%;
    margin: 0 1.25%;
  }
  nav {
    display: inline;
    float: left;
    width: 39.166666666666664%;
    margin: 0 1.25%;
  }
  footer {
    height: 470px;
  }
  .footer1 {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    padding-left: 10%;
    margin-top: 50px;
  }
  .copyright {
    margin-top: 120px;
  }
  .copyright .copyright-info {
    margin-top: 25px;
  }
}
@media (max-width: 920px) {
  .title {
    padding: 40px 0;
  }
  .title h3 {
    margin: 40px 0 25px 0;
  }
  .sliderVertical {
    margin-top: 50px;
  }
  header {
    height: 500px;
  }
  #logo {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  nav {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-top: -70px;
    margin-left: 90%;
    padding-top: 10px;
  }
  nav .fa-bars {
    display: block;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }
  ul.dropdown {
    display: none;
  }
  ul.dropdown li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid white;
  }
  ul.dropdown a {
    font-size: 30px;
    font-family: OpenSans-Regular;
    text-align: center;
    color: white;
  }
  ul.dropdown a:hover {
    border: none;
    color: #0eb493;
    transition: color 0.1s ease-in-out;
  }
  ul.dropdown.open {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-right: 200px;
    text-align: center;
    display: block;
  }
  .featuresGrid3 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
    padding-left: 25px;
  }
  #features {
    background: #f4f7f9;
  }
  #features .sliderHorizontal {
    margin-bottom: 20px;
  }
  #team .sliderHorizontal {
    padding-bottom: 50px;
  }
  .profiles {
    display: none;
  }
  .profiles2 {
    text-align: center;
  }
  .profiles2 li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
  .profiles2 img {
    display: inline-block;
    width: 50%;
  }
  .mask {
    display: none;
  }
  #funfacts li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
  }
  #funfacts h3 {
    font-size: 40px;
    margin: 0 0 6px 0;
  }
  #funfacts p {
    font-size: 14px;
  }
  #funfacts img {
    width: 25%;
  }
  .form-info {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    text-align: center;
    margin-bottom: 40px;
  }
  .form-info p:first-child {
    font-size: 22px;
    margin-bottom: 25px;
  }
  #contact-form {
    display: inline;
    float: left;
    width: 64.16666666666667%;
    margin: 0 1.25%;
    margin-left: 15%;
  }
  .form-icons {
    display: inline;
    float: left;
    width: 5.833333333333333%;
    margin: 0 1.25%;
  }
  .hidden {
    display: inline;
    float: left;
    width: 51.66666666666667%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 43.333333333333336%;
    margin: 0 1.25%;
    padding: 38px 0;
  }
  footer {
    height: 800px;
  }
  .footer1 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-top: 50px;
  }
}
@media (max-width: 675px) {
  header h6 {
    display: inline;
    float: left;
    width: 30.833333333333336%;
    margin: 0 1.25%;
    margin-left: 40px;
    margin-top: 10px;
  }
  #infoGraphic {
    margin-top: 120px;
  }
  #infoGraphic h1 {
    font-size: 40px;
  }
  #infoGraphic h6 {
    margin: 0;
    float: none;
  }
  .sliderVertical {
    display: none;
    margin: 0;
  }
  .featuresGrid3 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
    margin-left: 2%;
  }
  .featuresGrid3 .info {
    display: inline;
    float: left;
    width: 72.5%;
    margin: 0 1.25%;
  }
  .featuresGrid3 .features-icons {
    display: inline;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
    width: 40px;
    height: 40px;
  }
  .sub-nav {
    margin-bottom: 0px;
  }
  .sub-nav li {
    display: block;
    padding-bottom: 25px;
  }
  .work-images {
    margin-left: 7%;
  }
  .work-images li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin: 0;
    padding: 0;
  }
  .profiles2 ul li {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #funfacts li img {
    width: 38%;
  }
  .hidden {
    display: inline;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 55.833333333333336%;
    margin: 0 1.25%;
  }
}
@media (max-width: 400px) {
  #infoGraphic {
    margin-top: 80px;
  }
  #infoGraphic h1 {
    font-size: 40px;
  }
  #infoGraphic h6:before,
  #infoGraphic h6:after {
    width: 20px;
  }
  #infoGraphic h6:before {
    right: 20px;
  }
  #infoGraphic h6:after {
    left: 20px;
  }
  .hidden {
    display: inline;
    float: left;
    width: 14.166666666666666%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 80.83333333333333%;
    margin: 0 1.25%;
  }
  .map {
    display: none;
  }
  footer {
    height: 900px;
  }
}
@media (max-width: 1200px) {
  #logo {
    display: inline;
    float: left;
    width: 55.833333333333336%;
    margin: 0 1.25%;
  }
  nav {
    display: inline;
    float: left;
    width: 39.166666666666664%;
    margin: 0 1.25%;
  }
  footer {
    height: 470px;
  }
  .footer1 {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    padding-left: 10%;
    margin-top: 50px;
  }
  .copyright {
    margin-top: 120px;
  }
  .copyright .copyright-info {
    margin-top: 25px;
  }
}
@media (max-width: 920px) {
  .title {
    padding: 40px 0;
  }
  .title h3 {
    margin: 40px 0 25px 0;
  }
  .sliderVertical {
    margin-top: 50px;
  }
  header {
    height: 500px;
  }
  #logo {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  nav {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-top: -70px;
    margin-left: 90%;
    padding-top: 10px;
  }
  nav .fa-bars {
    display: block;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }
  ul.dropdown {
    display: none;
  }
  ul.dropdown li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid white;
  }
  ul.dropdown a {
    font-size: 30px;
    font-family: OpenSans-Regular;
    text-align: center;
    color: white;
  }
  ul.dropdown a:hover {
    border: none;
    color: #0eb493;
    transition: color 0.1s ease-in-out;
  }
  ul.dropdown.open {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-right: 200px;
    text-align: center;
    display: block;
  }
  .featuresGrid3 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
    padding-left: 25px;
  }
  #features {
    background: #f4f7f9;
  }
  #features .sliderHorizontal {
    margin-bottom: 20px;
  }
  #team .sliderHorizontal {
    padding-bottom: 50px;
  }
  .profiles {
    display: none;
  }
  .profiles2 {
    text-align: center;
  }
  .profiles2 li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
  .profiles2 img {
    display: inline-block;
    width: 50%;
  }
  .mask {
    display: none;
  }
  #funfacts li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
  }
  #funfacts h3 {
    font-size: 40px;
    margin: 0 0 6px 0;
  }
  #funfacts p {
    font-size: 14px;
  }
  #funfacts img {
    width: 25%;
  }
  .form-info {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    text-align: center;
    margin-bottom: 40px;
  }
  .form-info p:first-child {
    font-size: 22px;
    margin-bottom: 25px;
  }
  #contact-form {
    display: inline;
    float: left;
    width: 64.16666666666667%;
    margin: 0 1.25%;
    margin-left: 15%;
  }
  .form-icons {
    display: inline;
    float: left;
    width: 5.833333333333333%;
    margin: 0 1.25%;
  }
  .hidden {
    display: inline;
    float: left;
    width: 51.66666666666667%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 43.333333333333336%;
    margin: 0 1.25%;
    padding: 38px 0;
  }
  footer {
    height: 800px;
  }
  .footer1 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-top: 50px;
  }
}
@media (max-width: 675px) {
  header h6 {
    display: inline;
    float: left;
    width: 30.833333333333336%;
    margin: 0 1.25%;
    margin-left: 40px;
    margin-top: 10px;
  }
  #infoGraphic {
    margin-top: 120px;
  }
  #infoGraphic h1 {
    font-size: 40px;
  }
  #infoGraphic h6 {
    margin: 0;
    float: none;
  }
  .sliderVertical {
    display: none;
    margin: 0;
  }
  .featuresGrid3 {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 60px;
    margin-left: 2%;
  }
  .featuresGrid3 .info {
    display: inline;
    float: left;
    width: 72.5%;
    margin: 0 1.25%;
  }
  .featuresGrid3 .features-icons {
    display: inline;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
    width: 40px;
    height: 40px;
  }
  .sub-nav {
    margin-bottom: 0px;
  }
  .sub-nav li {
    display: block;
    padding-bottom: 25px;
  }
  .work-images {
    margin-left: 7%;
  }
  .work-images li {
    display: inline;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin: 0;
    padding: 0;
  }
  .profiles2 ul li {
    display: inline;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #funfacts li img {
    width: 38%;
  }
  .hidden {
    display: inline;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 55.833333333333336%;
    margin: 0 1.25%;
  }
}
@media (max-width: 400px) {
  #infoGraphic {
    margin-top: 80px;
  }
  #infoGraphic h1 {
    font-size: 40px;
  }
  #infoGraphic h6:before,
  #infoGraphic h6:after {
    width: 20px;
  }
  #infoGraphic h6:before {
    right: 20px;
  }
  #infoGraphic h6:after {
    left: 20px;
  }
  .hidden {
    display: inline;
    float: left;
    width: 14.166666666666666%;
    margin: 0 1.25%;
  }
  .submit {
    display: inline;
    float: left;
    width: 80.83333333333333%;
    margin: 0 1.25%;
  }
  .map {
    display: none;
  }
  footer {
    height: 900px;
  }
}
