@font-face {
  font-family: main-font;
  src: url("../fonts/Aaargh.ttf");
}
html {
  color: white;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Oswald', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
nav {
  float: right;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
}
nav a {
  padding: 10px;
}
.underline {
  text-decoration: underline;
}
h1 {
  font-weight: normal;
}
header,
section,
footer {
  width: 100%;
}
header {
  background: url(../img/heroImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 15%;
}
header h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  font-size: 2.5em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
header #mainNav {
  background-color: rgba(73, 84, 91, 0.84);
  padding: 3%;
}
header #mainNav a:hover {
  border: 1px solid #00c0ff;
  color: #00c0ff;
}
header .logo {
  float: left;
}
header nav li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
}
header #bottomHeader {
  padding: 15% 0;
}
#services {
  background: #00c0ff;
  padding: 60px 0;
}
#services h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
.svc-col {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
#portfolio {
  color: #515F67;
  padding: 60px 0;
}
.portfolio-nav nav {
  float: right;
}
.portfolio-nav nav ul {
  margin: -40px -130px 50px -50px;
}
.portfolio-nav nav li {
  padding: 3%;
}
.portfolio-nav nav li a {
  color: #515F67;
}
.portfolio-nav nav .selected a {
  border: 2px solid #00C0ff;
  color: #00C0ff;
  padding: 10px 20px;
}
.portfolio-nav h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
.portfolio-list {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
.portfolioBar img {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  padding: 10px 0;
}
.portfolioBar img:hover {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  cursor: pointer;
  background: url(../img/p-hover.png) no-repeat;
}
#features {
  background: #515f67;
  padding: 60px 0;
}
#features h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
#features button {
  border: 1px solid #515f67;
  color: #515f67;
  padding: 15px 40px;
  font-size: 15px;
  margin-top: 30px;
}
article {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
aside {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
aside img {
  width: 100%;
}
#twitter {
  background: #4bcaff;
  padding: 60px 0;
}
#twitter h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
#twitter img {
  float: right;
  margin-top: -75px;
}
#twitter p {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#who-is {
  background-image: url(../img/whois.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}
#who-is h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
#who-is .who-is-left {
  display: inline;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  float: left;
}
#who-is .who-is-right {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  float: right;
}
#who-is .social li {
  display: inline;
  padding: 10px;
}
#who-is .social img {
  border: 1px solid white;
}
#testimonials {
  color: #515F67;
  padding: 60px 0;
}
#testimonials h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
#testimonials #author {
  color: #00C0FF;
  font-size: 10pt;
}
#testimonials img {
  float: right;
  margin-top: -75px;
}
#testimonials blockquote {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#contact {
  background-image: url(../img/footerImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 60px 0;
}
#contact h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding-bottom: 30px;
}
#contact label {
  font-size: 12px;
}
#contact p {
  font-size: 12px;
}
#contact .form-left {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
}
#contact .form-left label {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  display: block;
}
#contact .form-left input {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  width: 90%;
  margin-bottom: 40px;
  padding-bottom: 20px;
  background: none;
  border: 2px solid white;
}
#contact .form-bottom label {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-left: 20px;
}
#contact .form-bottom textarea {
  width: 95%;
  padding-bottom: 75px;
  margin: 0 20px;
  background: none;
  border: 2px solid white;
}
#contact .form-bottom input {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin: 20px 0 0 20px;
  padding: 20px 0;
  color: white;
  background-color: #4BCAFF;
  border: 1px solid #4BCAFF;
}
#footer-bottom {
  clear: both;
  background-color: #353F47;
  font-size: 14px;
}
#footer-bottom ul {
  margin: 40px 0 0 20px;
  color: #515f67;
}
#footer-bottom ul li {
  display: inline;
}
#footer-bottom ul li a {
  color: #515f67;
}
#footer-bottom p {
  float: right;
  margin-bottom: 50px;
  margin-right: 30px;
  font-size: 14px;
  color: #515f67;
}
@media (max-width: 940px) {
  header .logo {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-left: 25%;
  }
  header #mainNav {
    background-color: rgba(255, 84, 91, 0.84);
  }
  header #mainNav nav {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    text-align: center;
  }
  header #bottomHeader {
    font-size: 15px;
  }
  .svc-col {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav {
    margin-left: -50px;
  }
  .portfolio-nav nav ul {
    margin: -40px 0 50px 0;
  }
  .portfolio-nav nav ul li {
    padding: 0;
    padding-top: 5%;
  }
  #who-is .who-is-left {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  #who-is .who-is-right {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
}
@media (max-width: 767px) {
  header #mainNav {
    background-color: rgba(0, 255, 91, 0.84);
  }
  header #bottomHeader {
    font-size: 12px;
    padding: 30% 0;
    padding-top: 15%;
  }
  .svc-col {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav {
    float: none;
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav ul {
    text-align: center;
    padding: 25px 0;
    margin-left: -100px;
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav ul li {
    padding: 1%;
  }
  .portfolio-nav nav h1 {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    display: block;
    background-color: black;
    text-align: center;
  }
  .portfolioBar img {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  .portfolioBar img:hover {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  #who-is .who-is-left {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    float: none;
  }
  #who-is .who-is-right {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    float: none;
  }
  #who-is .social {
    text-align: center;
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  header #mainNav {
    background-color: rgba(255, 255, 255, 0.84);
  }
  header #bottomHeader {
    font-size: 10px;
    padding: 30% 0;
    padding-top: 10%;
  }
  .svc-col {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav {
    float: none;
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav ul {
    text-align: center;
    padding: 25px 0;
    margin-left: -100px;
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolio-nav nav ul li {
    padding: 1%;
    padding-bottom: 30px;
  }
  .portfolio-nav nav h1 {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    display: block;
    background-color: black;
    text-align: center;
  }
  .portfolioBar img {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .portfolioBar img:hover {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  #features article {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  #features aside {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  #contact h1 {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    padding-bottom: 30px;
  }
  #contact label {
    font-size: 12px;
  }
  #contact p {
    font-size: 18px;
  }
  #contact .form-left {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  #contact .form-left label {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    display: block;
    font-size: 14px;
  }
  #contact .form-left input {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    width: 90%;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background: none;
    border: 2px solid white;
  }
  #contact .form-bottom label {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    font-size: 14px;
  }
  #contact .form-bottom textarea {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    padding-bottom: 75px;
    background: none;
    border: 2px solid white;
  }
  #contact .form-bottom input {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
    margin: 20px 0 0 20px;
    padding: 20px 0;
    color: white;
    background-color: #4BCAFF;
    border: 1px solid #4BCAFF;
  }
}
