*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font: 13px "PT Sans", Myriad, Myriad Pro, Helvetica, Arial, sans-serif;
  line-height: 26px;
  background: #515f67;
  color: #ffffff;
  font-weight: normal;
}
h3 {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 8px 0;
  margin-bottom: 40px;
}
h3.light {
  background: url('../img/deco-line.gif') no-repeat 0px 32px;
}
h3.dark {
  background: url('../img/deco-line2.gif') no-repeat 0px 32px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
}
nav {
  text-transform: uppercase;
}
a {
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;
}
section,
header,
footer {
  width: 100%;
}
#services,
#twitter {
  background-color: #4bcaff;
}
#portfolio,
#testimonials {
  background-color: #ffffff;
  color: #515f67;
}
footer {
  background-color: #353f46;
}
.header {
  text-align: center;
  padding: 245px 0;
}
header {
  background: url('../img/header.jpg') no-repeat;
}
#topbar {
  background-color: rgba(53, 63, 70, 0.8);
  height: 150px;
}
#topbar .container {
  padding: 60px 0;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
}
#topbar nav a.current {
  color: #4bcaff;
  border: 2px #4bcaff solid;
  padding: 5px 20px;
}
#topbar h1 {
  float: left;
  margin: 0;
}
#topbar h1 a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
#topbar h1 a .brightE {
  color: #4bcaff;
}
h2 {
  text-align: center;
  display: inline;
  text-transform: uppercase;
  background-color: rgba(53, 63, 70, 0.8);
  font-size: 38px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  padding: 10px 20px;
}
#services ul {
  display: inline-block;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
#services ul li {
  list-style-type: none;
  margin: 20px 0;
  display: block;
  font-size: 12px;
  line-height: 20px;
}
#services ul li span {
  font-size: 24px;
  text-transform: uppercase;
}
#portfolio h3 {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
#portfolio nav {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
  float: right;
}
#portfolio nav a {
  padding: 10px;
  color: #515f67;
  padding: 10px 20px;
}
#portfolio nav a.current {
  border: 2px #4bcaff solid;
  padding: 5px 15px;
  color: #4bcaff;
}
#gallery {
  float: left;
  margin-top: 80px;
}
#gallery li {
  display: inline-block;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
  margin-bottom: 20px;
}
#default p {
  margin-bottom: 35px;
}
#default a {
  color: #353f46;
  text-transform: uppercase;
  border: 2px #353f46 solid;
  padding: 15px 45px;
}
#default a:hover {
  color: #ffffff;
  border-color: #ffffff;
}
#default-copy {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
#vid {
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  float: right;
}
#twitter p {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 28px;
  line-height: 50px;
}
#twitter .h3icon {
  float: right;
}
#about {
  background: url('../img/about.jpg') no-repeat;
  background-size: cover;
}
#about ul li {
  border: 2px #ffffff solid;
  padding: 15px 18px;
  font-size: 30px;
  margin: 0 20px 0 0;
}
.col {
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  margin-bottom: 37px;
}
#testimonials .source {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  color: #4bcaff;
}
#testimonials p {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 28px;
  line-height: 50px;
}
#testimonials .h3icon {
  float: right;
  font-size: 90px;
}
#contact {
  background: url('../img/contact.jpg') no-repeat;
  background-size: cover;
}
label {
  display: block;
  text-align: left;
}
input,
textarea {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 5px;
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
}
button {
  background-color: #4bcaff;
  padding: 25px 160px;
  border: none;
  text-transform: uppercase;
}
footer ul {
  margin: 0;
}
footer ul li {
  display: inline-block;
  color: #515f67;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
footer ul li:after {
  content: " \007C";
  padding: 0 10px;
}
footer ul li:last-child:after {
  content: "";
}
@media (max-width: 940px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
