@import "variables.less";
@import "mixins.less";

// GLOBAL
//------------------------------------

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font: @base-font-size @font;
  line-height: 26px;
  background: @blue-grey;
  color: @white;
  font-weight: normal;
}

// HEADER
//------------------------------------

header {
  background: url('../img/header.jpg')no-repeat;
  height: 800px;
}

#topbar { 
  height: 150px;

  nav { 
    float: right;
    ul {
      margin: 0;
      li {
      display: inline-block;
      }
    }
  }

  h1 a { 
    color: @white;
    text-transform: uppercase;
    font-weight: 400;
    .brightE { color: @blue; }
  }
}

// SECTIONS
//------------------------------------

.container {
  width: @total-width;
  max-width: @gridsystem-width;
  margin: 0 auto;
  overflow: hidden; // self-clear floated child elements
}

section, header, footer {
  width: 100%;
}

#services, #twitter { 
  background-color: @blue; 
}
#portfolio, #testimonials { 
  background-color: @white; 
  color: @blue-grey;
}
#topbar, footer { background-color: @blue-grey-dark; }

// About
//----------------------------

#about {
  background: url('../img/about.jpg') no-repeat; 
  background-size: cover;
  height: 505px;
}

// Contact
//----------------------------

#contact { 
  background: url('../img/contact.jpg') no-repeat; 
  background-size: cover;
  height: 815px;
}


// MEDIA QUERIES 
//----------------------------
// Portrait tablet and small desktops
@media (max-width: 940px) {

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

}

// Landscape phones and down
@media (max-width: 480px) {

}








