*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font: 13px "PT Sans", Myriad, Myriad Pro, Helvetica, Arial, sans-serif;
  line-height: 26px;
  background: #515f67;
  color: #ffffff;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
nav {
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 30px;
  line-height: normal;
  padding: 0 0 8px 0;
  margin-bottom: 40px;
}
h3.light {
  background: url('../img/deco-line.gif') no-repeat 0 40px;
}
h3.dark {
  background: url('../img/deco-line2.gif') no-repeat 0 40px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
}
a {
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;
}
section,
header,
footer {
  width: 100%;
}
#services,
#twitter {
  background-color: #4bcaff;
}
#portfolio,
#testimonials {
  background-color: #ffffff;
  color: #515f67;
}
footer {
  background-color: #353f46;
}
header {
  background: url('../img/header.jpg') no-repeat;
  background-size: cover;
}
#topbar {
  background-color: rgba(53, 63, 70, 0.8);
  height: 150px;
}
#topbar .container {
  padding: 60px 0;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
}
#topbar nav a:hover {
  color: #4bcaff;
}
#topbar nav a.current {
  color: #4bcaff;
  border: 2px #4bcaff solid;
  padding: 5px 20px;
}
#topbar h1 {
  float: left;
  margin: 0;
}
#topbar h1 a {
  color: #ffffff;
  text-transform: uppercase;
}
#topbar h1 a .brightE {
  color: #4bcaff;
}
h2 {
  text-align: center;
  display: inline;
  text-transform: uppercase;
  background-color: rgba(53, 63, 70, 0.8);
  font-size: 38px;
  line-height: 2em;
  letter-spacing: 1px;
  padding: 10px 20px;
}
nav .fa-bars {
  display: none;
}
.header {
  text-align: center;
  padding: 245px 0;
}
#services ul {
  display: inline-block;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
}
#services ul li {
  list-style-type: none;
  margin: 20px 0;
  display: block;
  font-size: 12px;
  line-height: 20px;
}
#services ul li h4 {
  font-size: 24px;
  line-height: normal;
}
#portfolio h3 {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
#portfolio nav {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
  float: right;
}
#portfolio nav a {
  padding: 10px;
  color: #515f67;
  padding: 10px 20px;
}
#portfolio nav a:hover {
  color: #4bcaff;
}
#portfolio nav a.current {
  border: 2px #4bcaff solid;
  padding: 5px 15px;
  color: #4bcaff;
}
#gallery {
  float: left;
  margin-top: 80px;
}
#gallery li {
  display: inline-block;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
  margin-bottom: 1.25%;
}
.gallerypic {
  position: relative;
  display: block;
}
.gallerypic .zoom-icon {
  background-color: rgba(53, 63, 70, 0.8);
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 60px;
  text-align: center;
  opacity: 0;
  padding: 45% 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallerypic:hover .zoom-icon {
  opacity: 1;
}
.gallerypic img {
  width: 100%;
}
#default p {
  margin-bottom: 35px;
}
#default a {
  color: #353f46;
  text-transform: uppercase;
  border: 2px #353f46 solid;
  padding: 15px 45px;
}
#default a:hover {
  color: #ffffff;
  border-color: #ffffff;
}
#default-copy {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
#vid {
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  float: right;
}
#twitter p {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 28px;
  line-height: 50px;
}
#twitter .h3icon {
  float: right;
}
#about {
  background: url('../img/about.jpg') no-repeat;
  background-size: cover;
}
#about nav {
  margin-top: 37px;
  font-size: 30px;
}
#about ul li {
  margin: 0 10px 0 0;
}
#about ul li a {
  border: 2px #ffffff solid;
  padding: 15px 18px;
  color: #ffffff;
}
#about ul li a:hover {
  color: #4bcaff;
  border: 2px #4bcaff solid;
  padding: 15px 18px;
}
.col {
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  margin-bottom: 37px;
}
#testimonials .source {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  color: #4bcaff;
}
#testimonials p {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
  font-size: 28px;
  line-height: 50px;
}
#testimonials .h3icon {
  float: right;
  font-size: 90px;
}
#contact {
  background: url('../img/contact.jpg') no-repeat;
  background-size: cover;
}
.inputwrap {
  padding: 0;
  border: 0;
}
.contact-1 {
  display: inline-block;
  float: left;
  width: 47.5%;
  margin: 0 1.25%;
  float: right;
}
.contact-1 li {
  display: block;
}
.contact-2 {
  display: inline-block;
  float: left;
  width: 39.166666666666664%;
  margin: 0 1.25%;
}
.contact-3 {
  display: inline-block;
  float: left;
  width: 97.5%;
  margin: 0 1.25%;
}
button {
  display: inline-block;
  float: left;
  width: 30.833333333333336%;
  margin: 0 1.25%;
  background-color: #4bcaff;
  padding: 15px 160px;
  border: none;
  text-transform: uppercase;
}
button:hover {
  background-color: #353f46;
}
label {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}
input,
textarea {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 20px 10px;
}
footer,
footer a {
  color: #515f67;
  font-size: 12px;
}
footer ul {
  margin: 0;
  display: inline-block;
  float: left;
  width: 72.5%;
  margin: 0 1.25%;
}
footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
footer ul li:after {
  content: " \007C";
  padding: 0 10px;
}
footer ul li:last-child:after {
  content: "";
}
.copyright {
  display: inline-block;
  float: left;
  width: 22.5%;
  margin: 0 1.25%;
  text-align: right;
}
@media (max-width: 940px) {
  .container {
    padding: 40px 15px;
  }
  #topbar .container {
    padding: 60px 15px;
  }
  h2 {
    font-size: 30px;
  }
  .header {
    padding: 145px 0;
  }
  #default-copy {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #vid {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-top: 50px;
  }
  #portfolio h3 {
    display: inline-block;
    float: left;
    width: 30.833333333333336%;
    margin: 0 1.25%;
  }
  #portfolio nav {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #portfolio nav ul {
    margin: 20px 0;
  }
  #gallery {
    margin-top: 0;
  }
  #gallery li {
    display: inline-block;
    float: left;
    width: 22.5%;
    margin: 0 1.25%;
    margin-bottom: 1.25%;
  }
  #vid img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 14px;
  }
  h1 {
    margin: 50px;
  }
  #topbar nav a {
    padding: 10px;
  }
  #topbar nav a.current {
    padding: 5px 10px;
  }
  #twitter p,
  #testimonials p {
    font-size: 21px;
    line-height: 40px;
  }
  #about nav {
    font-size: 20px;
  }
  #about nav ul li {
    margin: 0;
  }
  #portfolio h3 {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #portfolio nav {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  #portfolio nav a {
    padding: 5px 10px;
  }
  #gallery li {
    display: inline-block;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
    margin-bottom: 1.25%;
  }
  #services ul {
    display: inline-block;
    float: left;
    width: 47.5%;
    margin: 0 1.25%;
  }
  #services ul li {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 30px 15px;
  }
  .col,
  #gallery li {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 1.25%;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  #about nav ul li {
    padding: 0;
    margin: 3px;
  }
  #twitter p,
  #testimonials p {
    font-size: 21px;
    line-height: 35px;
  }
  #topbar {
    height: auto;
  }
  #topbar nav .fa-bars {
    margin: 0 auto;
    display: block;
    color: white;
    cursor: pointer;
  }
  #topbar nav ul.dropdown {
    display: none;
    text-align: left;
  }
  #topbar nav ul.dropdown li {
    display: block;
    margin: 10px;
  }
  #topbar nav ul.dropdown a {
    color: white;
    border: none;
  }
  #topbar nav ul.dropdown a:hover {
    color: #4bcaff;
    font-weight: 400;
  }
  #topbar nav ul.dropdown.open {
    display: block;
  }
  #topbar nav a {
    font-size: 12px;
    padding: 5px 10px;
  }
  #topbar nav h1 {
    padding: 25px;
  }
  #services ul {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
  }
  .contact-1,
  .contact-2 {
    display: inline-block;
    float: left;
    width: 97.5%;
    margin: 0 1.25%;
    margin-bottom: 10px;
  }
  input,
  textarea {
    margin: 0 0 10px 0;
  }
  button {
    width: 100%;
    padding: 15px 50px;
  }
}
@media (max-width: 320px) {
  #services ul {
    color: #fff;
  }
}
